html {
  font-family: Arial;
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#app .json {
  display: none;
}
#app #stage {
  position: relative;
  height: 100%;
  background: #DDD;
}
#app #stage #no_data_message {
  position: absolute;
  padding: 80px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #777;
  color: #DDD;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  text-shadow: -10px -23px rgba(66, 66, 66, 0.5), -10px -22px #555555, -10px -21px #666666, -10px -20px #999999, 0 1px #777777, 0 2px #666666, 0 3px #555555, 0 8px 3px #5c5c5c;
  white-space: nowrap;
}
#app #stage .group .node {
  stroke-width: 3px;
  fill-opacity: 0.75;
}
#app #stage .group .node.country {
  fill: #a68fbc;
  stroke: #73568f;
}
#app #stage .group .node.person {
  fill: #8fbcbc;
  stroke: #568f8f;
}
#app #stage .group .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  fill: rgba(255, 255, 255, 0.85);
  text-anchor: middle;
}
#app #stage .group .label.country {
  font-size: 16px;
}
#app #stage .group .label.person {
  font-size: 12px;
}
/**********************************************************************************************************
 * Mixins
 **********************************************************************************************************/
