html {
    font-family: Arial;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .json {
        display: none;
    }

    #stage {
        position: relative;
        height: 100%;
        background: #DDD;

        .group {
            .node {
                @saturation: 25%;
                @lightness: 55%;

                stroke-width: 3px;
                fill-opacity: 0.75;

                &.country {
                    @country_color: hsl(270, @saturation, @lightness);
                    fill: lighten(@country_color, 10);
                    stroke: darken(@country_color, 10);
                }
                &.person {
                    @person_color: hsl(180, @saturation, @lightness);
                    fill: lighten(@person_color, 10);
                    stroke: darken(@person_color, 10);
                }
            }
            .label {
                .user-select(none);
                font-weight: bold;
                fill: rgba(255,255,255,0.85);
                text-anchor: middle;

                &.country {
                    font-size: 16px;
                }
                &.person {
                    font-size: 12px;
                }
            }
        }
    }
}


/**********************************************************************************************************
 * Mixins
 **********************************************************************************************************/

.user-select(@a) {
    -webkit-user-select: @a;
    -moz-user-select: @a;
    -ms-user-select: @a;
    user-select: @a;
}