html {
    font-family: Arial;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .json {
        display: none;
    }

    #stage {
        position: relative;
        height: 100%;
        background: #DDD;

        .group {
            .node {
                @saturation: 15%;
                @lightness: 55%;

                stroke-width: 3px;
                fill-opacity: 0.75;
                stroke-opacity: 0.85;

                &.country {
                    @country_color: hsl(270, @saturation, @lightness);
                    fill: lighten(@country_color, 10);
                    stroke: darken(@country_color, 10);
                }
                &.person {
                    @person_color: hsl(180, @saturation, @lightness);
                    fill: lighten(@person_color, 10);
                    stroke: darken(@person_color, 10);
                }
            }
            .label {
                text-anchor: middle;
            }
        }
    }
}