html {
  font-family: Arial;
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#app .json {
  display: none;
}
#app #stage {
  position: relative;
  height: 100%;
  background: #DDD;
}
#app #stage .group .node {
  stroke-width: 3px;
  fill-opacity: 0.75;
  stroke-opacity: 0.85;
}
#app #stage .group .node.country {
  fill: #a698b3;
  stroke: #736284;
}
#app #stage .group .node.person {
  fill: #98b3b3;
  stroke: #628484;
}
#app #stage .group .label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  fill: rgba(255, 255, 255, 0.85);
  text-anchor: middle;
}
#app #stage .group .label.country {
  font-size: 16px;
}
#app #stage .group .label.person {
  font-size: 12px;
}
/**********************************************************************************************************
 * Mixins
 **********************************************************************************************************/
